{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}
{% block body %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <br/>
        {% for field in form %}
            <br>
            {{ field.label_tag }}
            {% if field == form.logo %}
                {% render_field field %}
            {% else %}
                {% render_field field class="form-control" %}
            {% endif %}
        {% endfor %}
        <br/><br/>
        <button type="submit" class="btn btn-light btn-outline-secondary">Update</button>
    </form>
{% endblock %}